# Firebase Configuration
# Get these values from your Firebase Console project settings
# https://console.firebase.google.com/

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCyzpL4R-UB85ILSoTan9Y-GYbAtWVLUgE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=plant-care-companion-c4a6b.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=plant-care-companion-c4a6b
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=plant-care-companion-c4a6b.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=543422498415
EXPO_PUBLIC_FIREBASE_APP_ID=1:543422498415:web:9097b58b47a8727b9c2f9a
